/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .booking-section {
        text-align: center;
      }
      .booking-section h2 {
        font-size: 30px;
        padding-right: 0;
    }
    
      .services-section {
        margin: 0 0 -50px 0;
      }
      .srv-area {
        margin: 0 0 0 0;
      }
      .srv-box {
        min-height: 460px;
        margin-top: 100px;
      }
    
      .trf-plan {
        padding: 10px;
      }
      .trf-plan button {
        display: none;
      }
    
      .features-left,
      .features-right {
        padding-left: 40px;
      }
      .features-content h4 {
        margin: 20px 0 10px 0;
    }
    
      .download-content .download-left {
        text-align: center;
        padding: 10px 10px 50px;
      }
      .download-section h4 {
        padding-right: 0;
      }
      .download-section p {
        text-align: center;
        margin: 0 0 0 0;
      }
      .download-section a .img-padding {
        margin: 10px 20px 0 0;
    }
      .d-btn {
        margin: 15px 0 0 0;
      }
    
    .owl-carousel.owl-loaded {
        padding-left: 0;
    }
    .owl-carousel .item p {
        padding-left: 15px;
    }

    .contact-section h1 {
        font-size: 45px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .booking-section {
    text-align: center;
  }

  .services-section {
    margin: 0 0 -50px 0;
  }
  .srv-area {
    margin: 0 0 0 0;
  }
  .srv-box {
    min-height: 460px;
    margin-top: 100px;
  }

  .trf-plan {
    padding: 10px;
  }
  .trf-plan button {
    display: none;
  }

  .features-left,
  .features-right {
    padding-left: 40px;
  }

  .download-content .download-left {
    text-align: center;
    padding: 10px 10px 50px;
  }
  .download-section h4 {
    padding-right: 0;
  }
  .download-section p {
    text-align: center;
    margin: 0 0 0 0;
  }
  .d-btn {
    margin: 15px 0 0 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
}
